# Final Project for Databasemanagemtn

In [3]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.3-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.7/43.7 kB 1.0 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.3

In [1]:
import pymysql
import pandas as pd

In [26]:
def create_database():
    # connect to default database
    conn = pymysql.connect(host='127.0.0.1',port=int(3306),user='root', passwd='') 
    cur = conn.cursor()
    
    #create sparkify database with UTF8 encoding
    cur.execute("DROP DATABASE IF Exists original_db")
    cur.execute("CREATE DATABASE original_db")
    
    #close connection to default database
    conn.close()
    
    #connect to sparkify database
    conn = pymysql.connect(host='127.0.0.1',port=int(3306),user='root', passwd='', db = 'original_db')
    cur = conn.cursor()

    return cur, conn

In [5]:
def drop_tables(cur, conn):
    for query in drop_table_queries:
        cur.execute(query)
        conn.commit()

In [6]:
def create_tables(cur, conn):
    for query in create_table_queries:
        cur.execute(query)
        conn.commit()

In [7]:
holidays_events = pd.read_csv('/Users/zhengzheng/Desktop/IE 6700 SQL/final_project/data_table/holidays_events.csv')
oil = pd.read_csv('/Users/zhengzheng/Desktop/IE 6700 SQL/final_project/data_table/oil.csv')
stores = pd.read_csv('/Users/zhengzheng/Desktop/IE 6700 SQL/final_project/data_table/stores.csv')
train = pd.read_csv('/Users/zhengzheng/Desktop/IE 6700 SQL/final_project/data_table/train.csv')
transactions = pd.read_csv('/Users/zhengzheng/Desktop/IE 6700 SQL/final_project/data_table/transactions.csv')

In [8]:
holidays_events = holidays_events.drop_duplicates().dropna()
oil = oil[['date', 'dcoilwtico']].drop_duplicates().dropna()
stores = stores[['store_nbr', 'city', 'state', 'type', 'cluster']].drop_duplicates().dropna()
train = train[['id', 'date', 'store_nbr', 'family', 'sales', 'onpromotion']].drop_duplicates().dropna()
transactions = transactions[['date', 'store_nbr', 'transactions']].drop_duplicates().dropna()

In [9]:
print(holidays_events.columns)
print(oil.columns)
print(stores.columns)
print(train.columns)
print(transactions.columns)

Index(['date', 'type', 'locale', 'locale_name', 'description', 'transferred'], dtype='object')
Index(['date', 'dcoilwtico'], dtype='object')
Index(['store_nbr', 'city', 'state', 'type', 'cluster'], dtype='object')
Index(['id', 'date', 'store_nbr', 'family', 'sales', 'onpromotion'], dtype='object')
Index(['date', 'store_nbr', 'transactions'], dtype='object')

In [32]:
cur, conn = create_database()

In [48]:
holidays_events.dtypes

date           object
type           object
locale         object
locale_name    object
description    object
transferred      bool
dtype: object

In [55]:
holidays_events_table_create = ("""
CREATE TABLE IF NOT EXISTS holidays_events(
date DATE,
type VARCHAR(225),
locale VARCHAR(225),
locale_name VARCHAR(225),
description VARCHAR(225),
transferred TINYINT(1) NOT NULL DEFAULT 0
)""")
cur.execute(holidays_events_table_create)
conn.commit()

In [56]:
holidays_events_table_insert = ("""INSERT INTO holidays_events(
date,
type,
locale,
locale_name,
description,
transferred)
VALUES(%s, %s, %s, %s, %s, %s)
""")

for i, row in holidays_events.iterrows():
    cur.execute(holidays_events_table_insert, tuple(row))
    
conn.commit()

In [3]:
oil_table_create = ("""CREATE TABLE IF NOT EXISTS oil(
date DATE,
dcoilwtico DECIMAL(10,2),
PRIMARY KEY(date))""")
cur.execute(oil_table_create)
conn.commit()

In [11]:
oil_table_insert = ("""INSERT INTO oil(
date,
dcoilwtico)
VALUES(%s, %s)
""")

for i, row in oil.iterrows():
    cur.execute(oil_table_insert, tuple(row))
    
conn.commit()

In [12]:
stores_table_create = ("""CREATE TABLE IF NOT EXISTS stores(
store_nbr INT,
city VARCHAR(225),
state VARCHAR(225),
type VARCHAR(225),
cluster INT,
PRIMARY KEY(store_nbr))""")
cur.execute(stores_table_create )
conn.commit()

In [13]:
stores_table_insert = ("""INSERT INTO stores(
store_nbr,
city,
state,
type,
cluster)
VALUES(%s, %s, %s, %s, %s)
""")

for i, row in stores.iterrows():
    cur.execute(stores_table_insert, tuple(row))
    
conn.commit()

In [14]:
train_table_create = ("""CREATE TABLE IF NOT EXISTS train(
id INT,
date DATE,
store_nbr INT,
family VARCHAR(225),
sales DECIMAL(12,2),
onpromotion DECIMAL(12,2),
PRIMARY KEY(id))""")
cur.execute(train_table_create)
conn.commit()

In [15]:
train_table_insert = ("""INSERT INTO train(
id,
date,
store_nbr,
family,
sales,
onpromotion)
VALUES(%s, %s, %s, %s, %s, %s)
""")

for i, row in train.iterrows():
    cur.execute(train_table_insert, tuple(row))
    
conn.commit()

In [16]:
transactions_table_create = ("""CREATE TABLE IF NOT EXISTS transactions(
date DATE,
store_nbr INT,
transactions DECIMAL(12,2)
)""")
cur.execute(transactions_table_create)
conn.commit()

In [17]:
transactions_table_insert = ("""INSERT INTO transactions(
date,
store_nbr,
transactions)
VALUES(%s, %s, %s)
""")

for i, row in transactions.iterrows():
    cur.execute(transactions_table_insert, tuple(row))
    
conn.commit()